<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2
				class="text-base font-semibold text-indigo-600 tracking-wide uppercase"
			>Get started</h2>
			<p
				class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"
			>Installation Successful</p>
			<p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Please
				configure CloudFlare to recieve alert by adding to correct
				channel,then run</p><p
				class="max-w-xl mt-5 mx-auto text-xl text-gray-500"
			><code>/cloudflarewatcher %org_id% %email% %api_key%</code></p>
			<div class="py-4">
				<button
					type="button"
					class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				>Home</button>
			</div>
		</div>

	</div>
</div>
